---
title: Hi!
layout: layouts/home.njk
eleventyNavigation:
  key: about me
  order: 1
---
<h1>Hi! I'm Savannah Million and I'm a digital designer polymath.</h1>
<p>
  My favorite and most powerful skill is <strong class="bold">synthesizing complex information into clear (and when possible, fun) formats.</strong> I enjoy practicing this across many mediums: web applications, mobile apps, user research, sketch notes, illustrations, comics, deck design, and branding – just to name a few.
</p>
<p>
  Professionally, I've most recently worked as a <strong>UX or Product Designer</strong> in the civic tech space at a startup focusing on elevator technology, at a federal government consulting agency on <a href="https://www.healthcare.gov/">Healthcare.gov</a>, and at a non-profit making educational STEM software for kids. My résumé and portfolio are available upon request – <a href="mailto:savannahmillion@gmail.com">email me!</a> – or look at my <a href="https://www.linkedin.com">LinkedIn</a>.
</p>
<div class="notecard">
  <img class="notecard-icon" src="/img/mag-blob.png">
  <p>
    I am currently seeking new opportunities! I would love to talk to you about how I could fit in to your remote design or engineering team, and help build better digital experiences for your customers or partners.
  </p>
</div>
<p>
  Personally, I enjoy drawing and writing comics, making zines, reading graphic novels, riding my bike, traveling, recording and listening to podcasts, playing video games, and doing various crafts (<a href="https://www.instagram.com/p/CbwA6t9gX75/">like making cat-head shaped disco balls</a>).
</p>
<p>
  You can find me elsewhere on the internet below:
</p>
<ul>
  <li><a href="https://github.com/savannahmillion">GitHub (/savannahmillion)</a></li>
  <li><a href="https://twitter.com/savannahmillion">Twitter (@savannahmillion)</a></li>
  <li><a href="https://www.instagram.com/savmillion/">Instagram (@savmillion)</a></li>
  <li><a href="https://www.linkedin.com/in/savannahmillion/">LinkedIn (/savannahmillion)</a></li>
</ul>
<p>
  You can also email me at <a href="mailto:savannahmillion@gmail.com">savannahmillion@gmail.com</a>.
</p>



{# {% set maxPosts = collections.posts.length | min(3) %}
<h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p> #}