---
layout: layouts/base.njk
templateClass: tmpl-home
---
<section>

    <div class="left-column">
        <img class="avatar" alt="A photograph of Savannah" src="img/avatar.jpg">
    </div>

    <div class="right-column">
        {{ content | safe }}
    </div>

</section>
